@font-face{
  font-family: avancement;
  src: url("./assets/avancement.otf");
}

.App {
  text-align: center;
  font-family: avancement;
  background-color: #1B1B1E;
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: avancement;
  background-color: #373F51;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  line-height: 2em;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.App-link {
  color: #61dafb;
}


.frontEnd {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frontEnd .card-title {
  margin-bottom: 0 !important;
}

.frontEnd .card {
  margin: 1.2vw;
}
.catTitle {
  text-align: left;
  margin-right: 4.0vw;
}
.catTitle h1 {
  margin-bottom: 0;
}

#tsparticles {
  z-index: -2;
}

#tsparticles canvas {
  z-index: 5;
  height: 1vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.nav-link {
  font-size: 3vh;
  display: block;
}

.nav-link.active {
  font-weight: 600;
}

.px-4:hover {
  color: #58A4B0 !important;
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
